<!-- Section de la barre de navigation Begin -->
<section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Calculateur d'IMC</h2>
                    <div class="bt-option">
                        <a href="./index.html">Accueil</a>
                        <a href="#">Pages</a>
                        <span>Calculateur d'IMC</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section de la barre de navigation End -->

<!-- Section du calculateur d'IMC Begin -->
<section class="bmi-calculator-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title chart-title">
                    <span>Vérifiez votre corps</span>
                    <h2>TABLEAU DE CALCUL DE L'IMC</h2>
                </div>
                <div class="chart-table">
                    <table>
                        <thead>
                            <tr>
                                <th>IMC</th>
                                <th>STATUT PONDÉRAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="point">En dessous de 18,5</td>
                                <td>Insuffisance pondérale</td>
                            </tr>
                            <tr>
                                <td class="point">18,5 - 24,9</td>
                                <td>Poids sain</td>
                            </tr>
                            <tr>
                                <td class="point">25,0 - 29,9</td>
                                <td>Surpoids</td>
                            </tr>
                            <tr>
                                <td class="point">30,0 - et plus</td>
                                <td>Obésité</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title chart-calculate-title">
                    <span>Vérifiez votre corps</span>
                    <h2>CALCULEZ VOTRE IMC</h2>
                </div>
                <div class="chart-calculate-form">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                        viverra maecenas accumsan lacus vel facilisis.</p>
                    <form action="#">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" placeholder="Taille / cm">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Poids / kg">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Âge">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Sexe">
                            </div>
                            <div class="col-lg-12">
                                <button type="submit">Calculer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section du calculateur d'IMC End -->